<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.timelysoft.borovoe">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activity.Reviews"></activity>
        <activity
            android:name=".fragments.BookingAcceptAction"
            android:theme="@style/NotCapsButton" />
        <activity android:name=".fragments.BookingRoomsBusy" />
        <activity android:name=".activity.Food" />
        <activity
            android:name=".activity.Booking"
            android:windowSoftInputMode="stateHidden" />
        <activity android:name=".activity.Rooms" />
        <activity android:name=".activity.Intertainment" />
        <activity android:name=".activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.News" />
        <activity android:name=".activity.Discounts" />
        <activity
            android:name=".activity.DiscountsDetail"
            android:theme="@style/NoToobar" />
        <activity android:name=".activity.IntertainDetail" />
        <activity
            android:name=".activity.Menu"
            android:theme="@style/NoToolbarTransparentStatusBar" />
    </application>

</manifest>